step-function.asl.json
{
  "Comment": "JEREMY RULES!!!",
  "StartAt": "Get Channel History",
  "States": {

    "Get Channel History": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "getChannelHistory"
      },
      "Next": "Format Channel History",
      "TimeoutSeconds": 600
    },

    "Format Channel History": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "formatHistory",
        "Payload": {
          "history.$": "$.Payload.history"
        }
      },
      "TimeoutSeconds": 300,
      "Next": "Process Superfluous Info"
    },

    "Process Superfluous Info": {
      "Type": "Parallel",
      "Next": "Save to CSV",
      "Branches": [
        {
          "StartAt": "Extract Images",
          "States": {

            "Extract Images": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "extractImages",
                "Payload": {
                  "history.$": "$.Payload.history"
                }
              },
              "TimeoutSeconds": 300,
              "Next": "Process Images"
            },

            "Process Images": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "processImages",
                "Payload": {
                  "images.$": "$.Payload.images"
                }
              },
              "TimeoutSeconds": 300,
              "End": true
            }
          }

        },
        {
          "StartAt": "Extract Sentences",
          "States": {

            "Extract Sentences": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "extractSentences",
                "Payload": {
                  "history.$": "$.Payload.history"
                }
              },
              "TimeoutSeconds": 300,
              "Next": "Process Sentiment"
            },

            "Process Sentiment": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "getSentiment",
                "Payload": {
                  "history.$": "$.Payload.history"
                }
              },
              "TimeoutSeconds": 300,
              "End": true
            }

          }
        }
      ]
    },

    "Save to CSV": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "saveSpreadsheet",
        "Payload": {
          "history.$": "$.Payload.history"
        }
      },
      "TimeoutSeconds": 300,
      "End": true
    }

  }
}