step-function.asl.json
{
  "StartAt": "Get Channel History",
  "States": {
    "Get Channel History": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "getChannelHistory"
      },
      "TimeoutSeconds": 300,
      "Next": "Concurrent Lambdas"
    },
    "Concurrent Lambdas": {
      "Type": "Map",
      "MaxConcurrency": 1,
      "ItemsPath": "$.Payload.arns",
      "Iterator": {
        "StartAt": "Format Channel History",
        "States": {
          "Format Channel History": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "formatHistory",
              "Payload": {
                "bucket.$": "$.bucket",
                "key.$": "$.key",
                "format.$": "$.format",
                "range.$": "$.range",
                "arn.$": "$.arn"
              }
            },
            "TimeoutSeconds": 300,
            "Next": "Process Superfluous Info"
          },
          "Process Superfluous Info": {
            "Type": "Parallel",
            "End": true,
            "Branches": [
              {
                "StartAt": "Process Images",
                "States": {
                  "Process Images": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Parameters": {
                      "FunctionName": "processImages",
                      "Payload": {
                        "bucket.$": "$.Payload.bucket",
                        "key.$": "$.Payload.key",
                        "format.$": "$.Payload.format",
                        "range.$": "$.Payload.range",
                        "arn.$": "$.Payload.arn"
                      }
                    },
                    "TimeoutSeconds": 300,
                    "End": true
                  }
                }
              },
              {
                "StartAt": "Extract Sentences",
                "States": {
                  "Extract Sentences": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Parameters": {
                      "FunctionName": "extractSentences",
                      "Payload": {
                        "bucket.$": "$.Payload.bucket",
                        "key.$": "$.Payload.key",
                        "format.$": "$.Payload.format",
                        "range.$": "$.Payload.range",
                        "arn.$": "$.Payload.arn"
                      }
                    },
                    "TimeoutSeconds": 300,
                    "End": true
                  }
                }
              }
            ]
          }
        }
      },
      "Next": "Process Sentiment"
    },
    "Process Sentiment": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "getSentiment",
        "Payload": {
          "results.$": "$.[0]",
          "TaskToken.$": "$$.Task.Token"
        }
      },
      "TimeoutSeconds": 300,
      "End": true
    }
  }
}
